@use "var/colors";
@use "var/sizes";
@use "var/consts" as *;


#landing {
    margin: 13.625rem auto 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .capsule {
        background-color: black;
        display: inline-flex;
        border: 1px solid #fff;
        border-radius: 0.75rem;
        height: 1.5rem;
        align-items: center;
        font-size: sizes.$s;
        color: colors.$paper;
        padding: 0 1rem;
    }

    #name-panel {
        position: relative;
        width: min(800px, calc(100% - 5rem));
        $content-margin: min(4.4375rem, 10%);

        #panel-top {
            height: 3.5825rem;
            display: flex;
            gap: 5%;

            .stem {
                margin-top: 0.4rem;
                width: 0.795625rem;
                height: calc(100% - 0.25rem);
                background: url('../assets/panel_top_stem.svg') no-repeat;
                background-size: contain;
                flex-shrink: 0;
            }

            .line {
                margin-top: 0.4rem;
                background: url('../assets/panel_top_line.svg') no-repeat;
                background-position: 0 5px;
                display: inline-block;
                background-size: contain;
                position: relative;
                flex-grow: 1;
                flex-shrink: 1;
                height: calc(100% - 0.625rem);
            }

            .circles {
                display: inline-block;
                background: url('../assets/panel_top_circles.svg') no-repeat;
                background-size: contain;
                position: relative;
                width: 9%;
            }

            #greeting {
                position: absolute;
                left: min($content-margin, 10%);
                z-index: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: clamp(0.6rem, 1.5vw, sizes.$s);
            }

            .moon {
                position: absolute;
                background: url('../assets/halfmoon.svg') no-repeat;
                background-size: contain;
                background-position: bottom;
                width: min(8rem, 16%);
                height: 3.78rem;
                top: -3rem;
                left: 42%;
            }
        }

        #panel-content {
            margin: -1rem clamp(0rem, 20vw, 10rem) 0 $content-margin;

            .arrow {
                height: 1px;
                border: 0;
                border-top: 1px dashed #fff;
                stroke-width: 1rem;
                flex-shrink: 1;
            }

            #name-top {
                display: flex;
                align-items: center;
                margin-top: -0.75rem;

                #name {
                    font-size: clamp(2rem, 10vw, 4rem);
                    width: fit-content;
                    font-family: Inter, sans-serif;
                    text-transform: lowercase;
                    color: #fff;
                    letter-spacing: 0.625rem;
                    font-weight: 600;
                    text-wrap: nowrap;
                }

                .left {
                    width: 6.25rem;
                    margin: 0 0 0 2rem;
                    flex-grow: 1;
                }

            }

            #name-bottom {
                display: flex;
                align-items: center;
                margin-top: 0.75rem;
                align-self: flex-end;

                .right {
                    width: 7.125rem;
                    margin: 0 clamp(1rem, 8vw, 3rem) 0 0;
                    flex-grow: 1;
                }

                #name-kr {
                    font-family: Inter, sans-serif;
                    font-size: clamp(1rem, 3vw, 1.625rem);
                    font-weight: 900;
                    color: white;
                    letter-spacing: clamp(1rem, 10vw, 6rem);
                    text-wrap: nowrap;
                    margin-right: -5rem;

                    //-webkit-text-stroke: 1px colors.$paper;
                }
            }
        }

        #panel-bottom {
            display: flex;
            margin-left: 0.125rem;

            #bottomleft-corner {
                position: relative;
                transform: translate(0, -50%);
                display: inline-block;
                width: clamp(1rem, 40%, 20.375rem);
                height: 8.75rem;

                .base {
                    background: url('../assets/corner_base.svg') no-repeat;
                    background-size: contain;
                    margin-top: -0.5rem;
                    width: 100%;
                    height: 50%;
                }

                .line {
                    background: url('../assets/corner_line.svg') no-repeat;
                    position: absolute;
                    left: 0.25rem;
                    top: 0.25rem;
                    width: 100%;
                    height: 100%;
                }
            }

            #subtitle-container {
                position: relative;
                font-size: clamp(0.6rem, 2vw, sizes.$m);
                color: #fff;
                transform: translate(0, clamp(1rem, 4vw, 23%));
                margin-left: 1.5rem;
            }
        }
    }

    #landing-grid {
        position: absolute;
        background: url(../assets/grid.svg) no-repeat;
        width: 22.0625rem;
        height: 11.8125rem;
        top: 22rem;
        left: 15.25rem;
    }

    .sidedeco {
        position: absolute;
        background: url(../assets/landing_sidedeco.svg) no-repeat;
        width: 85px;
        height: 322px;
        left: -5rem;
        bottom: 0;
    }

    #alien {
        position: relative;
        left: 10rem;
        top: 11rem;
        z-index: 1;
    }

    #landing-menu {
        background: url("../assets/menu_stem.svg") no-repeat;
        position: relative;
        left: 10vw;
        top: clamp(0px, 4vw, 4rem);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;

        .menu-top {
            background: url("../assets/menu_top.svg") no-repeat;
            width: 4.5625rem;
            height: 0.706875rem;
        }

        .menu-line {
            border-left: 1px solid white;
            height: 100vh;
            width: 0.0625rem;
            margin-left: 0.0625rem;
        }

        ul {
            margin-left: 6rem;
            color: colors.$paper;
            font-size: clamp(0.75rem, 2vw, sizes.$m);
            position: absolute;
            top: 3rem;
            text-wrap: nowrap;

            .item {
                padding: 0.5rem 1rem;
                display: inline-block;
                border: 1px solid #fff;
                background-color: black;
                margin-bottom: -0.0625rem;
                cursor: not-allowed;

                &:hover {
                    background-color: colors.$paper;
                    color: #000;
                }
            }
        }

        #welcome {
            position: absolute;
            text-wrap: nowrap;
            top: 16rem;
            right: 50%;

            .capsule {
                margin-right: 2rem;
                font-size: clamp(0.6rem, 1.5vw, sizes.$s);
                width: 230px;
                max-width: 30vw;
                text-wrap: wrap;
                height: fit-content;
                padding: 0 0.75rem;
                border-radius: 4rem;

                p {
                    margin: 0.5rem 0;
                    text-align: center;
                }
            }

            #welcome-stem {
                background: url(../assets/welcome_stem.svg) no-repeat;
                background-position-x: right;
                height: 2.375rem;
                top: -1px;
            }
        }
    }
}