@use "var/colors";
@use "var/sizes";
@use "var/consts" as *;


#landing {
    margin: 13.625rem auto 0;
    position: relative;

    .capsule {
        background-color: black;
        display: inline-flex;
        padding: 0 1.5rem;
        border: 1px solid #fff;
        border-radius: 0.75rem;
        height: 1.5rem;
        align-items: center;
        font-size: sizes.$xs;
        color: colors.$paper;
    }

    #name-panel {
        position: relative;

        $content-margin: 4.4375rem;
        
        #panel-top {
            height: 3.5825rem;

            .stem {
                width: 1rem;
                height: calc(100% - 0.25rem);
                background: url('../assets/panel_top_stem.svg') no-repeat;
                display: inline-block;
            }

            .line {
                background: url('../assets/panel_top_line.svg') no-repeat;
                display: inline-block;
                width: 38.0625rem;
                position: relative;
                height: calc(100% - 0.625rem);
                height: 1.28125
            }

            .circles {
                display: inline-block;
                background: url('../assets/panel_top_circles.svg') no-repeat;
                width: 3.415rem;
                height: calc(100% - 0.1875rem);
                position: relative;
            }

            #greeting {
                position: absolute;
                left: $content-margin;
            }

            .moon {
                position: absolute;
                background: url('../assets/halfmoon.svg') no-repeat;
                width: 7.5625rem;
                height: 7.5625rem;
                top: -3.25rem;
                left: 17rem;
            }
        }

        #panel-content {
            margin: 0 $content-margin;

            .arrow {
                height: 1px;
                border: 0;
                border-top: 1px dashed #fff;
                stroke-width: 1rem;
            }

            #name-top {
                display: flex;
                align-items: center;
                margin-top: -0.75rem;

                #name {
                    font-size: 4rem;
                    width: fit-content;
                    font-family: Inter, sans-serif;
                    text-transform: lowercase;
                    color: #fff;
                    letter-spacing: 20%;
                    font-weight: 600;
                }

                .left {
                    width: 6.25rem;
                    margin: 0 0 0 2rem;
                }

            }

            #name-bottom {
                display: flex;
                align-items: center;
                margin-top: 0.75rem;

                .right {
                    width: 7.125rem;
                    margin: 0 3.21875rem 0 0;
                }

                #name-kr {
                    font-family: Inter, sans-serif;
                    font-size: 24px;
                    font-weight: 900;
                    color: white;
                    letter-spacing: 400%;

                    //-webkit-text-stroke: 1px colors.$paper;
                }
            }
        }

        #panel-bottom {
            margin-top: -4rem;

            #bottomleft-corner {
                position: relative;
                display: inline-block;
                width: 20.375rem;
                height: 8.75rem;

                .base {
                    background: url('../assets/panel_bottomleft.svg') no-repeat;
                    width: 100%;
                    height: 100%;
                }

                .line {
                    background: url('../assets/panel_bottomleft_line.svg') no-repeat;
                    position: absolute;
                    left: 0.25rem;
                    top: 0.25rem;
                    width: 100%;
                    height: 100%;
                }
            }

            #subtitle-container {
                display: inline-block;
                position: relative;
                font-size: sizes.$s;
                top: -1.35rem;
                color: #fff;
                margin-left: 1.5rem;
            }
        }
    }

    #landing-grid {
        position: absolute;
        background: url(../assets/grid.svg) no-repeat;
        width: 22.0625rem;
        height: 11.8125rem;
        top: 22rem;
        left: 15.25rem;
    }

    .sidedeco {
        position: absolute;
        background: url(../assets/landing_sidedeco.svg) no-repeat;
        width: 85px;
        height: 322px;
        left: -5rem;
        bottom: 0;
    }

    #alien {
        position: relative;
        left: 10rem;
        top: 11rem;
        z-index: 1;
    }

    #landing-menu {
        background: url("../assets/menu_stem.svg") no-repeat;
        float: right;
        position: relative;
        top: 3rem;
        height: 23.625rem;
        left: -3rem;

        .menu-top {
            background: url("../assets/menu_top.svg") no-repeat;
            width: 4.5625rem;
            height: 0.706875rem;
        }

        .menu-line {
            background: url("../assets/menu_line.svg") no-repeat;
            width: 0.0625rem;
            height: 23rem;
            margin: -0.0625rem 0 0 calc(4.55rem/2);
        }

        ul {
            margin-left: 1.375rem;
            color: colors.$paper;
            font-size: sizes.$s;
            position: absolute;
            top: 3rem;
            text-wrap: nowrap;

            .item {
                padding: 0.5rem 1rem;
                display: inline-block;
                border: 1px solid #fff;
                background-color: black;
                margin-bottom: -0.0625rem;
            }
        }

        #welcome {
            float: right;
            position: absolute;
            top: 14rem;
            right: 5.1rem;
            text-wrap: nowrap;

            #welcome-stem {
                position: relative;
                background: url(../assets/welcome_stem.svg) no-repeat;
                height: 2.375rem;
                top: -1px;
                left: 12rem;
            }
        }
    }
}
