@use "var/colors";
@use "var/sizes";
@use "var/consts" as *;

@font-face {
    font-family: "Alphatron";
    src: url('../Alphatron.otf');
} 


#landing {
    margin: 7rem auto 0;
    position: relative;

    .capsule {
        background-color: black;
        display: inline-flex;
        padding: 0 1.5rem;
        border-radius: 0.75rem;
        height: 1.5rem;
        align-items: center;
        font-size: sizes.$xs;
        color: colors.$paper;
    }

    #name-panel {
        width: 48.0625rem;
        position: relative;

        $content-margin: 4.4375rem;
        
        #panel-top {
            height: 3.1875rem;

            .stem {
                width: 1rem;
                height: 100%;
                background: url('../assets/panel_top_stem.svg') no-repeat;
                display: inline-block;
            }

            .line {
                height: 100%;
                background: url('../assets/panel_top_line.svg') no-repeat;
                display: inline-block;
                position: relative;
                top: 0.35rem;
                margin-left: 0.5rem;
            }

            .circles {
                position: absolute;
                height: 100%;
                background: url('../assets/panel_top_circles.svg') no-repeat;
                width: 3.25rem;
                top: 0;
                right: 0;
            }

            #greeting {
                position: absolute;
                left: $content-margin;
                top: -0.25rem;
            }
        }

        #name {
            font-size: 6.25rem;
            margin: 0 $content-margin;
            font-family: "Alphatron";
        }

        #name-outline {
            @extend #name;
            position: absolute;
            color: transparent;
            z-index: -1;

            -webkit-text-stroke: 1px colors.$paper;
        }

        #panel-bottom {
            margin-top: -4.5rem;

            #bottomleft-corner {
                position: relative;
                display: inline-block;
                width: 20rem;
                height: 8.75rem;

                .base {
                    background: url('../assets/corner_base.svg') no-repeat;
                    width: 100%;
                    height: 100%;
                }

                .line {
                    background: url('../assets/corner_line.svg') no-repeat;
                    position: absolute;
                    left: 0.25rem;
                    top: 0.25rem;
                }
            }

            #subtitle-container {
                display: inline-block;
                position: relative;
                font-size: sizes.$s;
                top: -1.25rem;
            }
        }
    }

    #landing-grid {
        position: absolute;
        background: url(../assets/grid.svg) no-repeat;
        width: 22.0625rem;
        height: 11.8125rem;
        top: 22rem;
        left: 15.25rem;
    }

    #welcome {
        float: right;
        position: relative;
        top: 10rem;
        right: 0.6875rem;


        #welcome-stem {
            position: relative;
            background: url(../assets/welcome_stem.svg) no-repeat;
            height: 2.375rem;
            top: -1px;
            left: 12rem;
        }
    }

    .sidedeco {
        position: absolute;
        background: url(../assets/landing_sidedeco.svg) no-repeat;
        width: 85px;
        height: 322px;
        left: -5rem;
        bottom: 0;
    }

    #alien {
        position: relative;
        left: 10rem;
        top: 11rem;
        z-index: 1;
    }

    #landing-menu {
        background: url("../assets/menu_stem.svg") no-repeat;
        float: right;
        position: relative;
        top: -3.5rem;
        height: 23.625rem;

        ul {
            margin-left: 1.375rem;
            padding-top: 3.5rem;
            color: colors.$paper;
            font-size: sizes.$s;

            .item {
                padding: 0.5rem 1rem;
                display: inline-block;
                background-color: black;
            }
        }
    }
}
