body {
  margin: 0;
  background-color: #090a19;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

ul {
  list-style-type: none;
}

#aboutcontent {
  position: absolute;
  top: 23vh;
  width: 70vw;
  margin-left: 15vw;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

p {
  color: white;
}

#tail1 {
  position: absolute;
  top: 95px;
  left: 85px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

#tail2 {
  position: absolute;
  top: 100px;
  left: 90px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  transition-duration: 200ms;
}

.tail {
    position: absolute;
    background-color: white;
    z-index: 102;
    pointer-events: none;
    -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    mix-blend-mode: exclusion;
    transition-timing-function: ease-out;
}

#gallery {
-ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 70vw;
  margin-left: 10vw;
  padding-top: 5vh;
}

.break {
  flex-basis: 100%;
}

.fades {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  flex-wrap: wrap;
  transition: opacity 10s;
}

#bg {
  perspective: 1px;
}

a {
  cursor: pointer;
}

li {
  transition: transform 0.5s;
}

li:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadedIn {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes unfold {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-width: 50vh;
    opacity: 1;
  }
}

.verticalUnfold{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  animation: unfold 3s forwards;
}

@keyframes rise {
  0% {perspective-origin: 90% 75%;}
  100% {perspective-origin: 100% 65%;}
}

.outer-wrapper {
  perspective-origin: 90% 75%;
  animation: rise 3s forwards;
  overflow-x: hidden;
  perspective: 1px;
  height: 100vh;
  overflow-y: hidden;
}

#cursor {
  background-color: white;
  height: 10px;
  position: absolute;
  float: left;
  top: 100px;
  width: 10px;
}

#moon {
  cursor: pointer;
  text-align: center;
  line-height: 110px;
  width: 110px;
  height: 110px;
  border-radius: 95px;
  background-color: white;
  position: fixed;
  top: 50px;
  left: 40px;
  position: sticky;
  mix-blend-mode: exclusion;
  display: inline-block;
  z-index: 100;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  color: #fff;
}

#moon:hover {
  transform: scale(1.1);
  color: rgb(9,10,25);
}

#caption {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  position: relative;
  left: 20px;
  animation-delay: 1.5s;
}

#icons {
  float: left;
  position: fixed;
  z-index: 5;
  position: fixed;
  bottom : 15px;
  right: 25px;
  animation-delay: 1s;
}

#icons img {
  width: 3vw;
  min-width: 32px;
  height: auto;
  filter: brightness(100);
}

#menu {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 0;
  display: inline-block;
  height: 1em;
  list-style-type: none;
  top: 13.1vw;
  animation-delay: 1s;
}

#menu li{
  display: inline-block;
  margin-left: 1em;
}

#menu a:hover{
  text-shadow: 0px -10px #1C5E7C, 0px -20px #122B40;
}

#menu a {
  text-decoration: none;
  transition: text-shadow 0.5s;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.5s color;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #F2D9A1;
}

.mtn {
  position: absolute;
  left: 0;
  height: 80vh;
  bottom: 0;
}

.label {
  z-index: 0;
  position: absolute;
  top: 13vh;
}

.abtcap {
  vertical-align: top;
  width: 50%;
  display: inline-block;
  margin-left: 15px;
  color: rgb(9, 10, 25);
  margin: 20px 20px 20px 30px;
}

#border {
  background-color: #fff;
  width: 80%;
  display: inline-block;
  margin: 0;
  float: left;
  box-shadow: 15px 15px 0px #F2D9A1;
  transition: box-shadow 1s;
}

#border:hover {
  box-shadow: 10px 10px 0px orange;
}

#profile {
  outline: 1px solid #fff;
  outline-offset: -10px;
  position: relative;
  display: inline-block;
  top: -10px;
  left: 10px;
  width: 20vw;
  margin: 0;
}

.landing {
  color: #C3DFEB;
}

#background {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
}

#leftarrow {
  left: 30px;
  transition: filter 0.5s ease-in-out;
}

#leftarrow:hover {
  filter: drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.3)) drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.3));
  -webkit-filter: drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.3)) drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.3));
}

#rightarrow {
  right: 30px;
  transition: filter 0.5s ease-in-out;
}

#rightarrow:hover {
  filter: drop-shadow(-10px 0px 0px rgba(255, 255, 255, 0.3)) drop-shadow(-10px 0px 0px rgba(255, 255, 255, 0.3));
  -webkit-filter: drop-shadow(-10px 0px 0px rgba(255, 255, 255, 0.3)) drop-shadow(-10px 0px 0px rgba(255, 255, 255, 0.3));
}


.arrows {
  display: none;
  height: 12%;
  position: fixed;
  top: 45%;
  vertical-align: middle;
  animation-delay: 1s;
  mix-blend-mode: exclusion;
}

.active {
  display: inline;
  cursor: pointer;
}

.arrows img {
  position: absolute;
}

.wrapper {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  width: 500vw;
  overflow-x: auto;
  height: 100vh;
  top: 0;
  position: absolute;
}

.pagemenu {
  position: absolute;
  top: 21vh;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6em;
  text-transform: uppercase;
  font-size: 1.1em;
  list-style-type: none;
  float: left;
}

@keyframes pop {
  0% {text-shadow: 0px 0px orange;
    -webkit-text-stroke-color:#F2D9A1;
      opacity: 0;}
  100% {text-shadow: 6px -6px #F2D9A1;
    -webkit-text-stroke-color:rgba(255, 255, 255, 0.7);
        opacity: 1;}
}

#name {
  opacity: 0;
  text-shadow: 0px 0px #F2D9A1;
  animation: pop 1s forwards;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#F2D9A1;
  top: 0;
  color: transparent;
  font-size: 8vw;
  display: inline-block;
  animation-delay: 0.5s;
  z-index: 2;
  mix-blend-mode: exclusion;
  transition: 2s color;
}

.content {
  width: 100vw;
  transition: 2s opacity;
  padding: 100px;
}

h1 {
  position: relative;
  font-size: 5vw;
  color: #DFF2FA;
  font-family: 'Ubuntu', Sans-Serif;
  text-transform: uppercase;
  bottom: 0px;
  margin: 0;
  z-index: 101;
}

.foreground {
  transform: translateZ(-3px) scale(4);
  z-index: 10;
  position: relative;
  bottom: 0;
  pointer-events: none;
  animation-delay: 1s;
}

.midground {
  transform: translateZ(-6px) scale(7);
  z-index: -3;
  animation-delay: 1.3s;
  position: absolute;
  bottom: 0;
  left: 100vw;
}

.background {
  transform: translateZ(-9px) scale(10);
  position: absolute;
  bottom: 0;
  z-index: -4;
  animation-delay: 1.6s;
}

#gallery img {
  height: 55vh;
  position: relative;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  outline: 0px solid #fff;
  outline-offset: 0px;
  margin-bottom: 100px;
  transition: outline-offset 0.5s;
}

#gallery img:hover {
    outline: 1px solid #fff;
    outline-offset: -10px;
}

::-webkit-scrollbar {
  display: none;
    height: 0;
    width: 0px;
    background: transparent;
}