body {
  margin: 0;
  background-color: #090A19;
  overflow: hidden; /* prevents "bouncing" out of window */
  height: 100%;
}

.outer-wrapper {
  overflow-y: scroll; /* allows "horizontal" scroll */
  width: 100vw;
  scroll-snap-type: x mandatory;
}

#menu {
  font-family: 'Open-Sans', sans-serif;
  list-style-type: none;
}

#menu a {
  text-decoration: none;
}

.mtn {
  position: absolute; /* relative to background div*/
  left: 0;
  top: 42vh;
  min-width: 120vw;
}

p {
  font-family: 'Open-Sans', sans-serif;
}

.black {
  position: relative;
  padding: 40px;
  left: 33vw;
  color: white;
  width: 30vw;
  height: 90vh;
  background-color: rgba(1,1,1, 0.6);
  z-index: -1;
}

#start {
  margin: 100px;
}

.landing {
  color: #C3DFEB;
}

#background {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
}

#leftarrow {
  position: absolute;
  left: 30px;
}

#rightarrow {
  position: absolute;
  right: 30px;
}

.arrows {
  height: 15%;
  position: fixed;
  top: 40%;
  vertical-align: middle;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 420vw;
  height: 100vh;
}

#name {
  top: 0;
  font-size: 8vw;
}

.content {
  width: 110vw;
  scroll-snap-align: center;
}

h1 {
  font-size: 5vw;
  color: #DFF2FA;
  font-family: 'Ubuntu', Sans-Serif;
  text-transform: uppercase;
  position: relative;
  top: 33vh;
  bottom: 0px;
  margin: 0;
  z-index: -2;
}

.foreground {
  z-index: 0;
  pointer-events: none;
}

.midground {
  z-index: -3;
}

.background {
  z-index: -4;
}

img {
  height: 60vh;
  position: relative;
}

#home {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
    height: 0;
    width: 0px;
    background: transparent;
}
