body {
  margin: 0;
  background-color: #090a19;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

p {
  color: #fff;
  font-size: 1.15rem;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s color;
  cursor: pointer;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: #F2D9A1;
}

li {
  transition: transform 0.5s;
}

li:hover {
  transform: scale(1.1);
}

#pageheader {
  position: sticky;
  left: 0;
  padding: 0 9rem;
  opacity: 1;
  z-index: 99;
  margin-top: -2rem;
}

/* page header */
h1 {
  font-size: 5rem;
  color: #DFF2FA;
  font-family: 'Ubuntu', Sans-Serif;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}

.pagemenu {
  float: right;
  margin-top: 1em;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-size: 1.1em;
  list-style-type: none;
}

.pagemenu li {
  display: inline-block;
  margin: 0 20px;
}

.content {
  width: 100%;
  transition: 2s opacity;
  padding: 13rem 0;
}

#aboutcontent {
  position: absolute;
  width: 60rem;
  margin-top: 2rem;
  height: 75vh;
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
    -ms-overflow-style: none;
}

#gallery {
  scrollbar-width: none;
    -ms-overflow-style: none;
  height: 75vh;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  width: 70vw;
  margin-left: 10vw;
}

.fades {
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
}

#bg {
  perspective: 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadedIn {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes unfold {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-width: 50vh;
    opacity: 1;
  }
}

.verticalUnfold{
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  animation: unfold 3s forwards;
}

@keyframes rise {
  0% {perspective-origin: 90% 75%;}
  100% {perspective-origin: 100% 65%;}
}

.outer-wrapper {
  perspective-origin: 90% 75%;
  animation: rise 3s forwards;
  overflow-x: hidden;
  perspective: 1px;
  height: 100vh;
  overflow-y: hidden;
}

#cursor {
  background-color: white;
  height: 10px;
  position: absolute;
  float: left;
  top: 100px;
  width: 10px;
}

#moon {
  cursor: pointer;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  background-color: white;
  position: sticky;
  top: 2rem;
  left: 4rem;
  mix-blend-mode: exclusion;
  z-index: 100;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

#moon:hover {
  transform: scale(1.1);
  color: rgb(9,10,25);
}


#caption {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  position: relative;
  left: 20px;
  animation-delay: 1.5s;
}

#icons {
  float: left;
  position: fixed;
  z-index: 5;
  position: fixed;
  bottom : 15px;
  right: 25px;
  animation-delay: 1s;
}

#icons img {
  width: 3vw;
  min-width: 32px;
  height: auto;
}

#slideshow {
  margin: 10px 100px;
  text-align: left;
  padding-top: 20px;
}

.slide{
  opacity: 0;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
  display: block
}

.slide img{
  max-width: 40%;
  max-height: 50vh;
  float: left;
  margin: 0 20px 20px 20px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 2em;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 50px;
}

hr {
  width: 500px;
  text-align: left;
}
.mtn {
  position: absolute;
  left: 0;
  height: 80vh;
  bottom: 0;
}

.abtcap {
  vertical-align: top;
  display: inline-block;
  color: #fff;
  flex: 1 0 60%;
}

#border {
  background-color: rgba(0, 0, 0, 0.3);
  width: 80%;
  transition: transform 0.5s ease-in-out;
  outline: 0.0625rem solid #fff;
  outline-offset: -1rem;
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto 10rem;
  align-content: flex-start;
}

#profile {
  position: relative;
  display: inline-block;
  top: -3rem;
  left: -3rem;
  width: 12.5rem;
  margin: 0;
  border-radius: 0 3rem 0;
  flex: 1 0 30%;
}

#fun {
  flex-basis: 50%;
}

.landing {
  color: #C3DFEB;
}

#background {
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 0;
}

#leftarrow {
  left: 4rem;
  transition: filter 0.25s ease-out, left 0.25s ease-out;
}

#leftarrow:hover {
  filter: drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.3)) drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.3));
  -webkit-filter: drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.3)) drop-shadow(10px 0px 0px rgba(255, 255, 255, 0.3));
  left: 3.5rem;
}

#rightarrow {
  right: 4rem;
  transition: filter 0.25s ease-out, right 0.25s ease-out;
}

#rightarrow:hover {
  filter: drop-shadow(-10px 0px 0px rgba(255, 255, 255, 0.3)) drop-shadow(-10px 0px 0px rgba(255, 255, 255, 0.3));
  -webkit-filter: drop-shadow(-10px 0px 0px rgba(255, 255, 255, 0.3)) drop-shadow(-10px 0px 0px rgba(255, 255, 255, 0.3));
  right: 3.5rem;
}


.arrows {
  display: none;
  height: 12%;
  position: fixed;
  top: 45%;
  vertical-align: middle;
  animation-delay: 1s;
  mix-blend-mode: exclusion;
}

.active {
  display: inline;
  cursor: pointer;
}

.arrows img {
  position: absolute;
}

.wrapper {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  width: 500vw;
  overflow-x: auto;
  bottom: 0;
  position: absolute;
  height: 100%;
}

.foreground {
  transform: translateZ(-3px) scale(4);
  z-index: 10;
  position: relative;
  bottom: 0;
  pointer-events: none;
  animation-delay: 1s;
}

.midground {
  transform: translateZ(-6px) scale(7);
  z-index: -3;
  animation-delay: 1.3s;
  position: absolute;
  bottom: 0;
  left: 100vw;
}

.background {
  transform: translateZ(-9px) scale(10);
  position: absolute;
  bottom: 0;
  z-index: -4;
  animation-delay: 1.6s;
}

#gallery img {
  height: 55vh;
  position: relative;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  outline: 0px solid #fff;
  outline-offset: 0px;
  margin-bottom: 100px;
  transition: outline-offset 0.5s;
}

#gallery img:hover {
    outline: 1px solid #fff;
    outline-offset: -10px;
}

::-webkit-scrollbar {
  display: none;
    height: 0;
    width: 0px;
    background: transparent;
}

.pagecontent {
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#slideshowmenu {
  display: flex;
  justify-content: space-around;
}

.projectlink{
  font-style: italic;
}

#slideshowmenu li {
  display: inline-block;
  color: white;
  margin: 0 10px;
}

.links {
  margin-top: 10%;
  flex-basis: 100%;
  display: inline-block;
}

.pair {
  margin: 0 50px;
  display: inline-block;
}


.pair img {
  height: 5em;
  transition: transform 0.5s;
}

.pair img:hover {
  transform: scale(1.1);
}

#cutecontainer{
  flex-basis: 100%;
}

#cute {
  display: inline-block;
  border-top: 1px solid #fff;
  padding-top: 25px;
  width: 50%;
  font-size: 20px;
}
