@use "var/consts" as *;

@use "var/colors";
@use "var/sizes";
@use "var/animation";

@use "landing";
@use "about";
@use "projects";

:root {
    font-family: Inter, sans-serif;
}

body {
    background-color: colors.$paper;
    margin: 0;
}

p {
    margin: 0;
}

#background {
    width: calc(100vw - ($padding * 2));
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: colors.$background;
    margin-top: $padding;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.deco {
    letter-spacing: 20%;
}

.text {
    line-height: 150%;
    font-size: sizes.$m;
}

ul {
    list-style: none;
    padding: 0;
}

.box {
    background-color: colors.$paper;
    border: 0.0625rem solid #fff;
    
    .header {
        background-color: black;
        color: colors.$paper;
        font-size: sizes.$m;
        text-align: right;
        padding: 0.5rem;
        display: flex;
        align-items: center;

        hr {
            height: 1px;
            border: 0;
            border-top: 1px solid #fff;
            stroke-width: 1rem;
            flex-grow: 1;
            margin: 0 1rem;
        }
    }

    .content {
        padding: 1rem 2rem;
    }
}