/*
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes namepanel-line-expand {
  from { width: 0rem; }
  to { width: 37.8rem; }
}

@keyframes namepanel-corner-expand {
    from { height: 0; }
    to { height: 8.75rem; }
}

@keyframes bruh {
    from { width: 1rem; }
    to { width: 20rem; }
}

@keyframes bruh2 {
    from { top: 2rem; left: 0rem; }
    to { top: 4rem; left: 0.75rem; }
}

.namepanel-line-expand {
    width: 0;

    animation-name: namepanel-line-expand;
    animation-duration:  1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.shortdelay-fadein {
    animation: 0.5s ease-in 0.1s;
}

.screen {
  opacity: 0;

  animation-name: fade-in;
  animation-duration: 0.1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.circles-anim {
  opacity: 0;

  animation-name: fade-in;
  animation-duration: 0s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.greeting-anim {
  opacity: 0;

  animation-name: fade-in;
  animation-duration: 0.1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.corner-anim {
    height: 0;
    width: 1rem;

    animation-name: namepanel-corner-expand, bruh;
    animation-duration: 0.7s, 0.5s;
    animation-delay: 0.2s, 0.5s;
    animation-fill-mode: forwards, forwards;
}

.name-anim {
    opacity: 0;

    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-delay: 0.45s;
    animation-fill-mode: forwards;
}

.outline-anim {
    opacity: 0;

    animation-name: fade-in, bruh2;
    animation-duration: 0.1s, 0.7s;
    animation-delay: 0.7s, 0.2s;
    animation-fill-mode: forwards, forwards;
}

.subtitle-anim {
    opacity: 0;

    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}
*/
#landing {
  margin: 13.625rem auto 0;
  position: relative;
}
#landing .capsule {
  background-color: black;
  display: inline-flex;
  padding: 0 1.5rem;
  border: 1px solid #fff;
  border-radius: 0.75rem;
  height: 1.5rem;
  align-items: center;
  font-size: 0.625rem;
  color: #f5f1ea;
}
#landing #name-panel {
  position: relative;
}
#landing #name-panel #panel-top {
  height: 3.5825rem;
}
#landing #name-panel #panel-top .stem {
  width: 1rem;
  height: calc(100% - 0.25rem);
  background: url("../assets/panel_top_stem.svg") no-repeat;
  display: inline-block;
}
#landing #name-panel #panel-top .line {
  background: url("../assets/panel_top_line.svg") no-repeat;
  display: inline-block;
  width: 38.0625rem;
  position: relative;
  height: calc(100% - 0.625rem);
  height: 1.28125;
}
#landing #name-panel #panel-top .circles {
  display: inline-block;
  background: url("../assets/panel_top_circles.svg") no-repeat;
  width: 3.415rem;
  height: calc(100% - 0.1875rem);
  position: relative;
}
#landing #name-panel #panel-top #greeting {
  position: absolute;
  left: 4.4375rem;
}
#landing #name-panel #panel-top .moon {
  position: absolute;
  background: url("../assets/halfmoon.svg") no-repeat;
  width: 7.5625rem;
  height: 7.5625rem;
  top: -3.25rem;
  left: 17rem;
}
#landing #name-panel #panel-content {
  margin: 0 4.4375rem;
}
#landing #name-panel #panel-content .arrow {
  height: 1px;
  border: 0;
  border-top: 1px dashed #fff;
  stroke-width: 1rem;
}
#landing #name-panel #panel-content #name-top {
  display: flex;
  align-items: center;
  margin-top: -0.75rem;
}
#landing #name-panel #panel-content #name-top #name {
  font-size: 4rem;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Inter, sans-serif;
  text-transform: lowercase;
  color: #fff;
  letter-spacing: 20%;
  font-weight: 600;
}
#landing #name-panel #panel-content #name-top .left {
  width: 6.25rem;
  margin: 0 0 0 2rem;
}
#landing #name-panel #panel-content #name-bottom {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}
#landing #name-panel #panel-content #name-bottom .right {
  width: 7.125rem;
  margin: 0 3.21875rem 0 0;
}
#landing #name-panel #panel-content #name-bottom #name-kr {
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: white;
  letter-spacing: 400%;
}
#landing #name-panel #panel-bottom {
  margin-top: -4rem;
}
#landing #name-panel #panel-bottom #bottomleft-corner {
  position: relative;
  display: inline-block;
  width: 20.375rem;
  height: 8.75rem;
}
#landing #name-panel #panel-bottom #bottomleft-corner .base {
  background: url("../assets/panel_bottomleft.svg") no-repeat;
  width: 100%;
  height: 100%;
}
#landing #name-panel #panel-bottom #bottomleft-corner .line {
  background: url("../assets/panel_bottomleft_line.svg") no-repeat;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  width: 100%;
  height: 100%;
}
#landing #name-panel #panel-bottom #subtitle-container {
  display: inline-block;
  position: relative;
  font-size: 0.75rem;
  top: -1.35rem;
  color: #fff;
  margin-left: 1.5rem;
}
#landing #landing-grid {
  position: absolute;
  background: url(../assets/grid.svg) no-repeat;
  width: 22.0625rem;
  height: 11.8125rem;
  top: 22rem;
  left: 15.25rem;
}
#landing .sidedeco {
  position: absolute;
  background: url(../assets/landing_sidedeco.svg) no-repeat;
  width: 85px;
  height: 322px;
  left: -5rem;
  bottom: 0;
}
#landing #alien {
  position: relative;
  left: 10rem;
  top: 11rem;
  z-index: 1;
}
#landing #landing-menu {
  background: url("../assets/menu_stem.svg") no-repeat;
  float: right;
  position: relative;
  top: 3rem;
  height: 23.625rem;
  left: -3rem;
}
#landing #landing-menu .menu-top {
  background: url("../assets/menu_top.svg") no-repeat;
  width: 4.5625rem;
  height: 0.706875rem;
}
#landing #landing-menu .menu-line {
  background: url("../assets/menu_line.svg") no-repeat;
  width: 0.0625rem;
  height: 23rem;
  margin: -0.0625rem 0 0 2.275rem;
}
#landing #landing-menu ul {
  margin-left: 1.375rem;
  color: #f5f1ea;
  font-size: 0.75rem;
  position: absolute;
  top: 3rem;
  text-wrap: nowrap;
}
#landing #landing-menu ul .item {
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 1px solid #fff;
  background-color: black;
  margin-bottom: -0.0625rem;
}
#landing #landing-menu #welcome {
  float: right;
  position: absolute;
  top: 14rem;
  right: 5.1rem;
  text-wrap: nowrap;
}
#landing #landing-menu #welcome #welcome-stem {
  position: relative;
  background: url(../assets/welcome_stem.svg) no-repeat;
  height: 2.375rem;
  top: -1px;
  left: 12rem;
}

#about {
  position: relative;
}
#about .box {
  width: 33.125rem;
  border: 0.0625rem solid black;
  background-color: #f5f1ea;
  border: 0.0625rem solid #fff;
}
#about .box .header {
  background-color: black;
  color: #f5f1ea;
  font-size: 0.875rem;
  text-align: right;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
#about .box .header hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  stroke-width: 1rem;
  flex-grow: 1;
  margin: 0 1rem;
}
#about .box .content {
  padding: 1rem 2rem;
}

#projects {
  margin-top: 5rem;
  height: 31.25rem;
}
#projects .list {
  float: left;
  width: 20.125rem;
  height: 100%;
  background-color: pink;
}
#projects .box {
  width: 41.6875rem;
  height: 100%;
  float: right;
}

:root {
  font-family: Inter, sans-serif;
}

body {
  background-color: #f5f1ea;
  margin: 0;
}

p {
  margin: 0;
}

#background {
  width: calc(100vw - 1.6rem);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #000;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.deco {
  letter-spacing: 20%;
}

.text {
  line-height: 150%;
  font-size: 0.875rem;
}

ul {
  list-style: none;
  padding: 0;
}

.box {
  background-color: #f5f1ea;
  border: 0.0625rem solid #fff;
}
.box .header {
  background-color: black;
  color: #f5f1ea;
  font-size: 0.875rem;
  text-align: right;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.box .header hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  stroke-width: 1rem;
  flex-grow: 1;
  margin: 0 1rem;
}
.box .content {
  padding: 1rem 2rem;
}/*# sourceMappingURL=style.css.map */