@font-face {
  font-family: "Alphatron";
  src: url("../Alphatron.otf");
}
#landing {
  margin: 7rem auto 0;
  position: relative;
}
#landing .capsule {
  background-color: black;
  display: inline-flex;
  padding: 0 1.5rem;
  border-radius: 0.75rem;
  height: 1.5rem;
  align-items: center;
  font-size: 0.625rem;
  color: #f5f1ea;
}
#landing #name-panel {
  width: 48.0625rem;
  position: relative;
}
#landing #name-panel #panel-top {
  background: url(../panel_top.svg) no-repeat;
  height: 3.1875rem;
}
#landing #name-panel #panel-top #greeting {
  margin-left: 4.4375rem;
}
#landing #name-panel #name, #landing #name-panel #name-outline {
  font-size: 6.25rem;
  margin: 0 4.4375rem;
  font-family: "Alphatron";
}
#landing #name-panel #name-outline {
  position: absolute;
  top: 4rem;
  left: 0.75rem;
  color: transparent;
  z-index: -1;
  -webkit-text-stroke: 1px #f5f1ea;
}
#landing #name-panel #panel-bottom {
  margin-top: -4.5rem;
}
#landing #name-panel #panel-bottom #bottomleft-corner {
  background: url(../panel_bottomleft.svg) no-repeat;
  width: 20rem;
  height: 8.75rem;
  display: inline-block;
}
#landing #name-panel #panel-bottom #subtitle-container {
  display: inline-block;
  position: relative;
  font-size: 0.75rem;
  top: -1.25rem;
}
#landing #landing-grid {
  position: absolute;
  background: url(../grid.svg) no-repeat;
  width: 22.0625rem;
  height: 11.8125rem;
  top: 22rem;
  left: 15.25rem;
}
#landing #welcome {
  float: right;
  position: relative;
  top: 10rem;
  right: 0.6875rem;
}
#landing #welcome #welcome-stem {
  position: relative;
  background: url(../welcome_stem.svg) no-repeat;
  height: 2.375rem;
  top: -1px;
  left: 12rem;
}
#landing .sidedeco {
  position: absolute;
  background: url(../landing_sidedeco.svg) no-repeat;
  width: 85px;
  height: 322px;
  left: -5rem;
  bottom: 0;
}
#landing #alien {
  position: relative;
  left: 10rem;
  top: 11rem;
  z-index: 1;
}
#landing #landing-menu {
  background: url("../menu_stem.svg") no-repeat;
  float: right;
  position: relative;
  top: -3.5rem;
  height: 23.625rem;
}
#landing #landing-menu ul {
  margin-left: 1.375rem;
  padding-top: 3.5rem;
  color: #f5f1ea;
  font-size: 0.75rem;
}
#landing #landing-menu ul .item {
  padding: 0.5rem 1rem;
  display: inline-block;
  background-color: black;
}

#about {
  position: relative;
  top: -3.5rem;
}
#about .box {
  width: 33.125rem;
  border: 0.0625rem solid black;
  background-color: #f5f1ea;
}
#about .box .header {
  background-color: black;
  color: #f5f1ea;
  font-size: 0.875rem;
  text-align: right;
  padding: 0.5rem;
}
#about .box .content {
  padding: 1rem 2rem;
}

:root {
  font-family: Inter, sans-serif;
}

body {
  background-color: #f5f1ea;
  margin: 0;
}

p {
  margin: 0;
}

#bg-gradient {
  width: calc(100vw - 4rem);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: linear-gradient(#C5C695, #f5f1ea);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.deco {
  letter-spacing: 20%;
}

.text {
  line-height: 150%;
  font-size: 0.875rem;
}

ul {
  list-style: none;
  padding: 0;
}/*# sourceMappingURL=style.css.map */